.date-picker .text-field {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.date-picker-popup .date-cell {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
