.table-view {
    -fx-background-color: #89a8e0;
}

.table-row-cell {
    -fx-background-color: #ebeef2;
    -fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: #c8d3e0;
}

.table-row-cell:selected {
    -fx-background-color: #aacffa;
}

.table-column {
    -fx-text-fill: black;
}

.table-column .label {
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-font-family: "Arial";
    -fx-alignment: CENTER;
}
.table-row-cell .table-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty {
    -fx-background-color: white;
}
